.button{
    padding: 0.5em 1em;
    margin: 0.5em;
    border-style: solid;
    border-width: medium;
    border-color: #083259;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: inherit;
    color: #083259;
    font-family: fantasy;
    font-size: inherit;
}
.button:hover{
    border-color: #d5a460;
    color: #d5a460;
}
.button:active{
    border-color: #92392f;
    color: #92392f;
}