.button{
    padding: 0.5em 1em;
    margin: 0.5em;
    border: solid #083259;
    border-width: medium;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: inherit;
    color: #083259;
    font-family: fantasy;
    font-size: inherit;
    box-shadow: 0px 0px 2px 1px #042039;
}
.button:hover{
    border-color: #d5a460;
    color: #d5a460;
}
.button:active{
    border-color: #92392f;
    color: #92392f;
}