body {
    margin: 0%;
    background-color: #edeef0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#inBody {
    position: relative;
}
#invisibleTop{
    height: 6vh;
}
.element-common {
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1em 1vw;
    margin: 1em 0%;
    min-width: 41em;
    display: flex;
    flex-direction: column;
}

#header_color {
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    min-width: 41em;
    width: 90%;
    padding: 0% 5%;
    max-height: 6vh;
    z-index: 3;
}

#header_image {
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;
}
.href{
    color: #083259;
}
.header_button {
    padding: 0% 2em;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-family: fantasy;
}
.header_button:hover p {
    color: #d5a460;
}

.header_button:active p {
    color: #92392f;
}

.header_element {
    height: 6vh;
}

#search {
    border-style: none;
    border-right-style: solid;
    border-color: #083259;
    flex-grow: 3;
    outline: none;
    font-size: large;
    color: #083259;
}

#login_button {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#083259;
    font-family: fantasy;
}

#login_popup {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 6vh;
    min-width: inherit;
    max-width: inherit;
    width: 100%;
}

#login_form:hover #login_popup {
    display: flex;
}

#userMenu:hover #userPopup {
    display: flex;
}

#userMenu {
    cursor: pointer;
}

#userPopup {
    display: none;
    position: inherit;
    flex-direction: column;
    top: 6vh;
    width: inherit;
    max-width: inherit;
}

.popup_button {
    width: 100%;
    height: 5vh;
    font-weight: bold;
    border-bottom: solid;
    display: flex;
    align-items: center;
    background-color:#ffffff;
    opacity: 0.9;
    color: #083259;
    padding-left: 0.5vw;
    text-decoration: underline;
}
.popup_button:hover {
    color: #d5a460;
}

.popup_button:active {
    color: #92392f;
    border-color: #92392f;
}

#login_form {
    display: flex;
    min-width: 6em;
    max-width: 7vw;
    flex-direction: column;
    cursor: pointer;
}

#searchForm {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#bodyElement {
    margin-left: 5%;
    margin-right: 5%;
}

#footer {
    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 41em;
}

.privacy {
    display: flex;
    margin-left: 50%;
}

.year {
    margin-right: 2em;
}

.header_search {
    margin: 0%;
}

#userName {
    padding: 0vw 1em;
    display: flex;
    align-items: center;
    border-style: none none dashed none;
    box-sizing: border-box;
    height: inherit;
}

.header_text {
    color: #083259;
}

.adminPanel {
    border-color: crimson;
}

.userPanel {
    border-color: darkgrey;
}
.textHeader{
    margin: 1em 2em;
    font-family: sans-serif;
    font-size: large;
}
.bigTextCenter{
    margin: 0.5em;
    align-self: center;
    font-family: sans-serif;
    font-size: large;
}
.simpleP{
    font-family: sans-serif;
    margin: 1em;
}
#searchButtonLink{
    text-decoration: none;
}
.boxRowLeftText{
    padding-right: 1em;
    font-weight: bold;
    white-space: nowrap;
    border-right-style:dashed;
    color: #083259;
}