.authorizationLine {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.authorizationLink {
    display: flex;
    width: 100%;
    text-decoration: none;
}

.centerHeaderText {
    font-family: system-ui;
    color: #083259;
    margin: 0.5em auto;
}

.NewestConcertBox {
    margin: 1em;
    border: solid #083259;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 20em;
    box-shadow: 0px 0px 3px 0.2px #042039;
}

.concertButtonLink {
    text-decoration: none;
    display: flex;
}

.ConcertsBox {
    width: 100%;
    max-width: 60em;
    margin: auto;
}

.mainImageBox {
    max-width: 100%;
    display: flex;
}
.mainConcertImage{
    max-width: inherit;
    align-self: center;
    margin: auto;
    min-width: 100%;
}
.MaincenterBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elementButtonsBox{
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 1em auto;
}
.mainConcertBottonBox{
    bottom: 0;
}
.MainConcertPerformer{
    font-family: system-ui;
    color: #083259;
    margin: 1em 0.5em;
    text-align: center;
    font-size: large;
    font-weight: bold;
    overflow-wrap: anywhere;
}