.actionItem{
    display: flex;
    flex-direction: row;
    margin: 0.3em 0em;
    border-bottom-style: groove;
    border-top-style: groove;
    border-width: medium;
    border-color: #d5a460;
    padding: 0.3em;
}
.actionCreationTime{
    width: 12em;
    margin-left: 0.5em;
    font-family: cursive;
    font-size: small;
    border-right-style: dashed;
}
.actionDescription{
    margin-left: 1em;
    margin-right: 0.5em;
    font-family: cursive;
    font-size: small;
}