.activateButtonActionList input{
    margin: 0em;
}
.activateButtonActionList{
    width: 100%;
    text-align: center;
}
.isActiveActionList{
    width: 40%;
    text-align: center;
}
.concertTypeActionList{
    width: 90%;
}
.costActionList{
    width: 50%;
}
.leftCountActionList{
    width: 40%;
}
.performerActionList{
    width: 100%;
}
.concertDateActionList{
    width: 80%;
}
.concertLink{
    color: inherit;
    text-decoration: none;
}
.expendedConcert{
    padding: 0.5em 1em;
}