.boxRow{
    display: flex;
    flex-direction: row;
    border: ridge #083259;
    margin: 0.5em 0em;
    align-items: center;
}
.boxColumn{
    display: flex;
    flex-direction: column;
    border: ridge #083259;
    padding: 1em;
    margin: 1em;
}
.administrationBox{
    width: 60%;
    min-width: 38em;
    align-self: center;
}
.centerBox{
    width: 50%;
    min-width: 35em;
    align-self: center;
}
.boxRowIn{
    display: flex;
    flex-direction: row;
    width: 300%;
    margin: 1em;
    align-items: center;
    font-family: system-ui;
}
.boxRowIn input{
    margin: 0em 1em;
    width: 100%;
}
.boxRowRightText{
    padding-left: 1em;
}
.personalizationText{

    white-space: nowrap;
    color: #083259;
}
.textAboveInput{
    padding: 0em 1em;
    margin: 0em 1em;
    width: 100%;
    text-align: center;
}
.wideLeft{
    width: 300%;
    margin-right: 4em;
}
.wideLeftAbove{
    width: 300%;
}
.textAboveBox{
    display: flex;
    margin: 0em 1em;
    flex-direction: row;
    color: #083259;
    font-weight: bold;
    font-family: system-ui;
}
.ListTable{
    max-height: 30vh;
    padding-bottom: 0.5em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.outOfListTable{
    position: relative;
    border: ridge #083259;
    align-self: center;
    min-width: 40em;
    width: 90%;
}
.ListHeader{
    display: flex;
    flex-direction: row;
    background-color:#083259;
    padding: 0.5em;
    position: absolute;
    width: calc(100% - 14px - 1em);
    color: #d6a667;
    font-weight: bold;
    font-size: smaller;
    font-family: cursive;
}
.ListItem{
    display: flex;
    flex-direction: row;
    margin: 0.3em 0em;
    border-bottom-style: groove;
    border-top-style: groove;
    border-width: medium;
    border-color: #d5a460;
    padding: 0.3em 0.5em;
    align-items: center;
    font-size: smaller;
    font-family: cursive;
    text-decoration: none;
    color: inherit;
}