.boxRow{
    display: flex;
    flex-direction: row;
    border-color: #083259;
    border-width: initial;
    border-style: ridge;
    margin: 0.5em 0em;
    align-items: center;
}
.boxColumn{
    display: flex;
    flex-direction: column;
    border-color: #083259;
    border-width: initial;
    border-style: ridge;
    padding: 1em;
    margin: 1em;
}
.administrationBox{
    width: 60%;
    min-width: 38em;
    align-self: center;
}
.centerBox{
    width: 50%;
    min-width: 35em;
    align-self: center;
}
.boxRowIn{
    display: flex;
    flex-direction: row;
    width: 300%;
    margin: 1em;
    align-items: center;
    font-family: system-ui;
}
.boxRowIn input{
    margin: 0em 1em;
    width: 100%;
}
.boxRowRightText{
    padding-left: 1em;
}
.boxRowLeftText{
    padding-right: 1em;
    font-weight: bold;
    white-space: nowrap;
    border-right-style:dashed;
    color: #083259;
}
.personalizationText{

    white-space: nowrap;
    color: #083259;
}
.textAboveInput{
    padding: 0em 1em;
    margin: 0em 1em;
    width: 100%;
    text-align: center;
}
.wideLeft{
    width: 300%;
    margin-right: 4em;
}
.wideLeftAbove{
    width: 300%;
}
.textAboveBox{
    display: flex;
    margin: 0em 1em;
    flex-direction: row;
    color: #083259;
    font-weight: bold;
    font-family: system-ui;
}
.ListTable{
    max-height: 30vh;
    padding-bottom: 0.5em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.outOfListTable{
    position: relative;
    border-color: #083259;
    border-width: initial;
    border-style: ridge;
    align-self: center;
    min-width: 40em;
    width: 90%;
}
.ListHeader{
    display: flex;
    flex-direction: row;
    background-color:#083259;
    padding: 0.5em 0em;
    position: absolute;
    width: calc(100% - 14px);
    color: #d6a667;
    font-weight: bold;
}