
.promoCodeItem input{
    font-size: small;
}
.promoCodeLeft{
    width: 200%;
    border-right-style: dashed;
    
}
.simplePromoCode{
    width: 100%;
}
.ListHeader .promoCodeLeft{
    text-indent: 0.5em;
}
.simplePromoCode input{
    margin: 0em;
}
.discountCode{
    margin-left: 2em;
}
.aboveButton{
    
}