.concertImage{
    max-width: inherit;
    max-height: 5em;
    display: flex;
    width: auto;
}
.searchPageItem{
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid #083259;
    color: #083259;
    font-family: sans-serif;
    margin-bottom: 2em;
    cursor: pointer;
    text-decoration: none;
}
.searchPageItem:hover{
    background-color: #3d75a833;
}
.searchPageItem:active{
    background-color: #d6a66778;
}
.imageBox{
    width: 70%;
    max-width: 100%;
    justify-content: center;
    display: flex;
    min-width: 8em;
}
.concertCost{
    width: 40%;
    min-width: 3em;
}
.concertLeftCount{
    width: 30%;
    min-width: 3em;
}
.concertPerformer{
    width: 120%;
    overflow-wrap: anywhere;
}
.concertConcertDate{
    width: 100%;
}
.concertConcertType{
    width: 70%;
}